
:root,html,body,main{
    overflow-x: hidden;
  }
  :root {
    font-family: "Roboto", system-ui, sans-serif;
    font-size: 16px;
  }
  .hidden {
    filter: blur(5px);
    opacity: 0;
    transition: all 3s;
  }
  
  .show {
    filter: blur(0px);
    opacity: 1;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .responsive-font{
    font-size: var(--font-bolds_desks);
  }
  // .responsive-font_common{

  // }
  /* ++++++++++ Header , footer, body, main +++++++++++++++++++++++++++++++++++ */
  body {
    // background-color: var(--prime);

    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--body-gap);
  }
  .offcanvas-body nav ul {
    display: flex;
    flex-direction: column;
    width: var(--header-nav-width_mob);
    height: var(--header-nav-height);
    justify-content: center;
    align-items: center;
    margin-bottom: 0 !important;
    gap: 1rem;
  }

  main {
    padding-bottom: 2rem;
    position: relative;
    width: 100%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex: 1;
    gap: var(--main-content-gap);
  }
  main section .cont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  label {
    display: flex;
    align-items: center;
  }

  section {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .hero{
    width: 100%;
    min-height: 100vh;
    background-image: url("../assets/img/plane-over-earth.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .input-cont{
    width: 15%;
    
  }
  
  .payment-cont{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  